{
    "proxy_type": "redirect",
    "listen_port": 1080,
    "listen_addr": "0.0.0.0",
    "webui_port": 8080,
    "transparent": {
        "enabled": true,
        "sniffing": true,
        "mark": 100,
        "exclude_lan": true
    },
    "auth": {
        "enabled": false,
        "username": "",
        "password": ""
    },
    "upstream": {
        "enabled": false,
        "type": "socks5+wss",
        "addr": "",
        "port": 80,
        "username": "",
        "password": "",
        "route": "",
        "ws_path": "/gost",
        "ws_host": ""
    },
    "shadowsocks": {
        "method": "aes-256-cfb",
        "password": ""
    },
    "tls": {
        "cert": "",
        "key": "",
        "ca": ""
    },
    "websocket": {
        "enabled": false,
        "path": "",
        "host": ""
    },
    "routing": {
        "enabled": false,
        "bypass": [],
        "direct_uids": []
    },
    "advanced": {
        "log_level": "info",
        "multi_listen": []
    }
}
